.ques {
  width: 95%;
  margin: auto;
  color: white;
}
.ques .edit-ques {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 50%;
  padding: 25px;
  border-radius: 8px;
  border: 5px solid var(--clr-pumpkin);
}
.ques .confirm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.781);
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  z-index: 120;
  width: 50%;
}
.ques .confirm .btns {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 25px;
}
.ques .confirm .btns button {
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  font-size: 17px;
  color: white;
}
.ques .confirm .btns .yes {
  background-color: red;
}
.ques .confirm .btns .no {
  background-color: green;
}
.ques .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ques .add-ques {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.575);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
.ques .add-ques button {
  background-color: var(--clr-pumpkin);
  color: white;
}
.ques .add-ques form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  margin: auto;
}
.ques .add-ques form label {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.ques .add-ques form label input {
  width: 60%;
}
.ques .all-ques {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.575);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
.ques .all-ques .keys-filter {
  background-color: white;
  border-radius: 5px;
  margin: 10px 0;
  padding: 8px;
  display: flex;
  gap: 4px;
  max-width: 100%;
  overflow-x: scroll;
}
.ques .all-ques .keys-filter .key {
  color: black;
  border: 2px solid var(--clr-pumpkin);
  border-radius: 4px;
  padding: 1px 4px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.ques .all-ques .keys-filter .key:hover {
  background-color: var(--clr-pumpkin);
  color: white;
}
.ques .all-ques .keys-filter .active-key {
  background-color: var(--clr-pumpkin);
  color: white;
}
.ques .all-ques .in-all-ques {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.ques .all-ques .in-all-ques .in-options {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.ques .all-ques .in-all-ques .ques-card {
  width: 30%;
  background-color: white;
  color: black;
  padding: 10px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ques .all-ques .in-all-ques .ques-card button {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  margin: auto;
}
.ques .all-ques .in-all-ques .ques-card .edit {
  background-color: rgb(13, 218, 105);
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  margin: auto;
}
.ques .all-ques .in-all-ques .ques-card a {
  background-color: var(--clr-pumpkin);
  padding: 5px;
  border-radius: 5px;
  width: 150px;
  margin: auto;
}
.ques .all-ques .in-all-ques .ques-card img {
  max-width: 100%;
  min-width: 100%;
  margin-top: 10px;
}/*# sourceMappingURL=ques.css.map */